<%= bootstrap_form_for(@post, layout: :horizontal) do |f| %>
  <% if @post.errors.any? %>
      <% @post.errors.full_messages.each do |message| %>
        <p class="color-red"><%= message %></p>
      <% end %>
  <% end %>

  <div class="actions">
    <%= f.text_field :content %>
    <%= f.file_field :image %>
    <%= f.hidden_field :user_id, value: current_user.id %>


    <%= f.submit "投稿する", class: "btn btn-primary top-buffer"%>
  </div>
<% end %>
