<%= bootstrap_form_for(@post, layout: :horizontal) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.text_field :content %>
    <%= f.file_field :image %>
    <%= f.hidden_field :user_id, value: current_user.id %>


    <%= f.submit "投稿する", class: "btn btn-primary top-buffer"%>
  </div>
<% end %>
